@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
img{
  height: 480px;
  width: 480px;
  top: 0;
  left: 0;
}

.nav-bar{
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FCD13C;
}

.nav-list{
  display: flex;
  margin-right: 1.5rem;
}
.nav-list a{
  display: block;
  font-size: 20px;
  padding: 1.5rem;
  color: black;
}
.slider {
  width: 480px;
  margin: 0 auto;
}

.slides{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

